[submodule "themes/terminal"] 
  path = themes/terminal
  url = https://github.com/vovanukas/hugo-theme-terminal
[submodule "hugo-theme-terminal"]
	path = hugo-theme-terminal
	url = https://github.com/vovanukas/hugo-theme-terminal
