  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>

    .swiper {
      width: 100%;
      height: 100%;
      margin-top: 50px;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 10px solid #23B0FF;
    }

    .projects {
      border: 0px
    }

    .swiper-slide img {
      display: block;
      margin: auto;
      object-fit: cover;
      max-height: 50px;
    }
  </style>

  <!-- Swiper -->
  <div class="swiper robloxProjects">
    <div class="swiper-wrapper">
      <div class="swiper-slide projects">
        <div class="video-container">

          <video style="border: 10px solid #23B0FF;" autoplay loop muted width="100%">
              <source src="/img/ScratchMinesweeper.mp4" type="video/mp4" />
          </video>                
          <div >
              <img src="path to Image" alt="">
          </div>
          <!-- If Videos are not supported this image will act as cover image-->
          </div>
      </div>
      <div class="swiper-slide">
        <div>
          <h1 style="margin: 0px;">Minesweeper<br></h1>
          <p style="margin: 30px">Create interactive games using Scratch! <br><br>
            We aim to teach kids by creating real projects, which others can play.
          </p>
        </div>
      </div>
      <div class="swiper-slide projects">
        <div class="video-container">

          <video style="border: 10px solid #23B0FF;" autoplay loop muted width="100%">
              <source src="/img/ScratchPlatformer.mp4" type="video/mp4" />
          </video>                
          <div >
              <img src="path to Image" alt="">
          </div>
          <!-- If Videos are not supported this image will act as cover image-->
          </div>
      </div>
      <div class="swiper-slide">
        <div>
          <h1 style="margin: 0px;">2D Platformer<br></h1>
          <p style="margin: 30px">From programming, to audio and graphic design, you will learn it all!<br><br>
            Scratch is a great way to start designing games and learn which discipline of video game development you like most!
          </p>
        </div>
      </div>
      <div class="swiper-slide projects">
        <div class="video-container">

          <video style="border: 10px solid #23B0FF;" autoplay loop muted width="100%">
              <source src="/img/ScratchCrawler.mp4" type="video/mp4" />
          </video>                
          <div >
              <img src="path to Image" alt="">
          </div>
          <!-- If Videos are not supported this image will act as cover image-->
          </div>
      </div>
      <div class="swiper-slide">
        <div>
          <h1 style="margin: 0px;">Dungeon Crawler<br></h1>
          <p style="margin: 30px">Start off with basic blocks and connect them together into complex systems.<br><br>
            Start your coding and development journey in Scratch. Sign up now to start creating your games!
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".robloxProjects", {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        800: {
          slidesPerView: 2,
          slidesPerGroup: 2,
          spaceBetween: 20,
        },
      },
        autoplay: {
          delay: 3000,
        },
    });
  </script>
