  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>

    .swiper {
      width: 100%;
      height: 100%;
      margin-top: 50px;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 10px solid #23B0FF;
      padding: 10px;
      height: 300px
    }

    .swiper-slide img {
      display: block;
      margin: auto;
      object-fit: cover;
      max-height: 50px;
    }
  </style>

  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <h3 style="line-height: 0.5">Scratch</h>
        <p style="font-weight: normal; font-size: medium">Ages 6 - 12</p>
        <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Scratchlogo.svg/1024px-Scratchlogo.svg.png" alt=""></center>
        <p style="font-weight: normal; font-size: smaller; line-height: 1;">Unleash creativity with visual coding, build games and animations easily!</p>
        <p align="center"><button type="button" onclick="window.location.href='/courses/scratch';">See course!</button></p>
      </div>
      <div class="swiper-slide">
        <h3 style="line-height: 0.5">Roblox</h>
        <p style="font-weight: normal; font-size: medium">Ages 10 - 17</p>
        <img src="https://companieslogo.com/img/orig/RBLX_BIG.D-7104ee0f.png?t=1648060951" alt="">
        <p style="font-weight: normal; font-size: smaller; line-height: 1;">Unlock the power of imagination and  learn how to build your very own games!</p>
        <p align="center"><button type="button" onclick="window.location.href='/courses/roblox';">See course!</button></p>
      </div>
      <div class="swiper-slide">
        <h3 style="line-height: 0.5">Python</h>
        <p style="font-weight: normal; font-size: medium">Ages 12 - 17</p>
        <img src="https://cis.msjc.edu/images/python-logo-master.png" alt="">
        <p style="font-weight: normal; font-size: smaller; line-height: 1;">Discover your coding potential and create anything with Python's versatility!</p>
        <p align="center"><button type="button" onclick="window.location.href='/courses/python';">See course!</button></p>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        900: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
        autoplay: {
          delay: 3000,
        },
    });
  </script>
