  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>

    .swiper {
      width: 100%;
      height: 100%;
      margin-top: 50px;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 10px solid #23B0FF;
    }

    .projects {
      border: 0px
    }

    .swiper-slide img {
      display: block;
      margin: auto;
      object-fit: cover;
      max-height: 50px;
    }
  </style>

  <!-- Swiper -->
  <div class="swiper robloxProjects">
    <div class="swiper-wrapper">
      <div class="swiper-slide projects">
        <div class="video-container">

          <video style="border: 10px solid #23B0FF;" autoplay loop muted playsinline width="100%">
              <source src="/img/PythonGame.mp4" type="video/mp4" />
          </video>                
          </div>
      </div>
      <div class="swiper-slide">
        <div>
          <h1 style="margin: 0px;">Arcade Games<br></h1>
          <p style="margin: 30px">Create your games using Python! <br><br>
            Create your perfect game with a widely used programming languages, we aim to provide fun learning!
          </p>
        </div>
      </div>
      <div class="swiper-slide projects">
        <div class="video-container">

          <video style="border: 10px solid #23B0FF;" autoplay loop muted playsinline width="100%">
              <source src="/img/PythonsNotes.mp4" type="video/mp4" />
          </video>                
          </div>
      </div>
      <div class="swiper-slide">
        <div>
          <h1 style="margin: 0px;">Simple Notes Apps<br></h1>
          <p style="margin: 30px">Learn basic UI design and create useful apps.<br><br>
            It's great to have your computer do all the work for you. Learn how you can automate tasks and make your day easier!
          </p>
        </div>
      </div>
      <div class="swiper-slide projects">
        <div class="video-container">

          <video style="border: 10px solid #23B0FF;" autoplay loop muted playsinline width="100%">
              <source src="/img/PythonSnake.mp4" type="video/mp4" />
          </video>                
          </div>
      </div>
      <div class="swiper-slide">
        <div>
          <h1 style="margin: 0px;">Snake Game<br></h1>
          <p style="margin: 30px">From games to programs, Python has got you covered!<br><br>
            Start your Python coding journey and get ready to enter a competitive programming market!
          </p>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".robloxProjects", {
      loop: true,
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      breakpoints: {
        800: {
          slidesPerView: 2,
          slidesPerGroup: 2,
          spaceBetween: 20,
        },
      },
        autoplay: {
          delay: 3000,
        },
    });
  </script>
