  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>

    .swiper {
      width: 100%;
      height: 100%;
      margin-top: 50px;
    }

    .swiper-slide {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 10px solid #23B0FF;
      padding: 10px;
      height: 300px;
    }

    .swiper-slide img {
      display: block;
      margin: auto;
      object-fit: cover;
    }
  </style>

  <!-- Swiper -->
  <div style="margin-top: 0px" class="swiper reviewsSwiper">
    <div class="swiper-wrapper">
      <div style="height: 400px" class="swiper-slide">
          <p>Codiblox is an excellent coding school! My son attended one of their courses and his confidence has grown tremendously. The instructors are knowledgeable and professional, and the platform is easy to use. Highly recommend! <br><br> -Mother of 11 year old who finished Roblox course.</p>
      </div>
      <div style="height: 400px" class="swiper-slide">
        <p>Great school! My 10 year old son is studying in this school and is showing great results in practice. All thanks to our amazing tutor! <br><br> -Mother of 10 year old who finished Roblox course and is studying Python course. </p>
      </div>
      <div style="height: 400px" class="swiper-slide">
        <p>I'm so glad we signed up for a trial lesson! My two 12-year-olds loved the course and learned a lot. As a parent, I appreciated the balance between the live lesson and quick communication. Codiblox is a fantastic coding school that I highly recommend. <br><br> -Father of 2 12 year olds on Python course.</p>
      </div>
      <div style="height: 400px" class="swiper-slide">
        <p>My daughter loved the Scratch course! It was engaging, well-structured, and easy to follow. She learned so much and is already working on her own projects. Highly recommend!</p>
      </div>
    </div>
  </div>

  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".reviewsSwiper", {
      slidesPerView: 1,
      spaceBetween: 10,
      breakpoints: {
        700: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        950: {
          slidesPerView: 3,
          spaceBetween: 10,
        },
        1300:{
          slidesPerView: 4,
          spaceBetween: 10,
        }
      },
      autoplay: {
          delay: 5000,
        },
    });
  </script>
